
<footer id="footer" class="bg-light">
  <div class="container">
    <!-- Footer Widgets============================================= -->
    <div class="footer-widgets-wrap clearfix">
      <div class="row clearfix">

        <div class="col-md-6">
          <div class="widget clearfix">
            <div class="row clearfix">
              <div class="col-md-8 bottommargin-sm clearfix" style="color:#888;">
                <img src="../../assets/images/logo.png" alt="projectjungles logo" style="max-height: 100px;">
                <p>Project4Jungle is a service provider for creating natural, wild, maintenance free Jungle.</p>

                <div class="image">
                  <a target="_blank" href="https://www.facebook.com/Project-Jungle-520869931713600/?modal=admin_todo_tour" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
                    <img src="../../assets/images/fb.jpg" >
                  </a>
                  <a target="_blank" href="https://twitter.com/projectjungles" class="social-icon si-small si-borderless si-colored si-rounded si-twitter">
                    <img src="../../assets/images/if_twitter_circle_color_107170.png" >
                  </a>
                  <a target="_blank" href="#" class="social-icon si-small si-borderless si-colored si-rounded si-gplus">
                    <img src="../../assets/images/email.png" >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

            <div class="col-md-3">
              <div class="widget widget_links app_landing_widget_link clearfix">
                <h4 class="ml-3 ct-1">Quick Links</h4>
                <ul>
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/service">Service</a></li>
                  <li><a routerLink="/gallery">Gallery</a></li>
                  <li><a routerLink="/about">About</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-3">
                <div class="widget widget_links app_landing_widget_link clearfix">
                  <img src="../../assets/prototype/kiet-prototype.jpeg" alt="projectjungles logo" style="width:100%;height:auto;">
                <p class="small">Project Jungle is a service provider for creating natural, wild, maintenance free Jungle.</p>
                </div>
              </div>


      </div>
    </div>
  </div>
  <!-- Copyrights============================================= -->

    <div class="copyright">
      <div class="content">
        <p class="text-center">Designed By Jungle IT Team</p>
      </div>
    </div>
</footer>