<!-- 
<footer id="footer" class="bg-light">
  <div class="container">
    <div class="footer-widgets-wrap clearfix">
      <div class="row clearfix">

        <div class="col-md-6">
          <div class="widget clearfix">
            <div class="row clearfix">
              <div class="col-md-8 bottommargin-sm clearfix" style="color:#888;">
                <img src="../../assets/images/logo.png" alt="projectjungles logo" style="max-height: 100px;">
                <p>Project4Jungle is a service provider for creating natural, wild, maintenance free Jungle.</p>

                <div class="image">
                  <a target="_blank" href="https://www.facebook.com/Project-Jungle-520869931713600/?modal=admin_todo_tour" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
                    <img src="../../assets/images/fb.jpg" >
                  </a>
                  <a target="_blank" href="https://twitter.com/projectjungles" class="social-icon si-small si-borderless si-colored si-rounded si-twitter">
                    <img src="../../assets/images/if_twitter_circle_color_107170.png" >
                  </a>
                  <a target="_blank" href="#" class="social-icon si-small si-borderless si-colored si-rounded si-gplus">
                    <img src="../../assets/images/email.png" >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

            <div class="col-md-3">
              <div class="widget widget_links app_landing_widget_link clearfix">
                <h4 class="ml-3 ct-1">Quick Links</h4>
                <ul>
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/service">Service</a></li>
                  <li><a routerLink="/gallery">Gallery</a></li>
                  <li><a routerLink="/about">About</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-3">
                <div class="widget widget_links app_landing_widget_link clearfix">
                  <img src="../../assets/prototype/kiet-prototype.jpeg" alt="projectjungles logo" style="width:100%;height:auto;">
                <p class="small">Project Jungle is a service provider for creating natural, wild, maintenance free Jungle.</p>
                </div>
              </div>


      </div>
    </div>
  </div>

    <div class="copyright">
      <div class="content">
        <p class="text-center">Designed By Jungle IT Team</p>
      </div>
    </div>
</footer> -->


<!-- footer -->
<footer class="py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-5 py-sm-4 py-3">

    <div class="row clearfix">

      <div class="col-md-6">
        <div class="widget clearfix">
          <div class="row clearfix">
            <div class="col-md-8 bottommargin-sm clearfix" style="color:#888;">
              <img src="../../assets/images/logo.png" alt="projectjungles logo" style="max-height: 100px;">
              <p>Project4Jungle is a service provider for creating natural, wild, maintenance free Jungle.</p>

              <div class="image">
                <a target="_blank" href="https://www.facebook.com/Project-Jungle-520869931713600/?modal=admin_todo_tour"
                  class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
                  <img src="../../assets/images/fb.webp">
                </a>
                <a target="_blank" href="https://twitter.com/projectjungles"
                  class="social-icon si-small si-borderless si-colored si-rounded si-twitter">
                  &nbsp;<img src="../../assets/images/twitter.webp">
                </a>
                <a target="_blank" href="#" class="social-icon si-small si-borderless si-colored si-rounded si-gplus">
                 &nbsp; <img src="../../assets/images/email.webp">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="widget widget_links app_landing_widget_link clearfix">
          <h4 class="text-white mb-3">Quick Links</h4>
          <ul>
            <li><a class="text-white" routerLink="/">Home</a></li>
            <li><a class="text-white" routerLink="/service">Service</a></li>
            <li><a class="text-white" routerLink="/gallery">Gallery</a></li>
            <li><a class="text-white" routerLink="/about">About</a></li>
            <li><a class="text-white" routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="widget widget_links app_landing_widget_link clearfix">
          <img src="../../assets/prototype/kiet-prototype.jpeg" alt="projectjungles logo"
            style="width:100%;height:auto;">
          <p class="small" style="color:white;">Project Jungle is a service provider for creating natural, wild, maintenance free
            Jungle.</p>
        </div>
      </div>


    </div>
    <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
      <p>
        © 2019 . All Rights Reserved | Design by Project Jungle IT Team
    </div>
    <!-- move icon -->
    <div class="text-center">
      <a href="#home" class="move-top text-center mt-3"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>
    <!--//move icon -->
  </div>
</footer>
