.inner_page-banner {
  text-align: center;
  background: url(/assets/images/dummy/b3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 85px;
}
.img-rounded
{
    margin: 15px;
    width: 240px;
    height: 310px;
}
i
{
  color:green;
  text-align: center;
}
.image>div 
{
  margin: auto;
}
.image>div>h3,h5
{
  text-align: center;
}
