<div class="header-outs inner_page-banner " id="home">
  <app-header></app-header>
</div>


    <div class="using-border py-3">
      <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
          <li>
            <a href="index.html">Home</a>
            <span>/</span>
          </li>
          <li>About</li>
        </ul>
      </div>
    </div>
    <!-- //short-->
    <!-- about -->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
          <div class="col-lg-8 col-md-6 text-right about-two-grids">
            <h3 class="title  mb-md-4 mb-sm-3 mb-3"> About Us</h3>
            <div class="about-para-txt">
              <p>Project Jungle is a service provider for creating natural, wild, maintenance free, native forests. At Project Jungle,
                we work passionately on and off-site to provide the best solutions at the lowest possible cost.
                Started in September 2018, Project Jungle is a social enterprise on a mission to bring back our native forests
                that have been lost. We do it by creating them.</p>
              <!-- <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
                eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p> -->
            </div>
            <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
              <a href="contact.html" class=" scroll">Read More</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 about-imgs-txt">
            <img src="../../assets/images/dummy/g1.jpg" alt="news image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <!-- //about -->
    <!-- stats -->
    
    <!--//stats -->
    <section class="blog_w3ls py-5" id="why">
      <div class="container py-xl-5">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Meet the team</h3>
        <div class="row">
          <div class= "col-sm-12">

          </div>
          <!-- blog grid --> 
        </div>
        <div class="image row">
        <div>
          <img src="../../assets/team/Brijesh.jpeg" class="img-rounded" alt="Cinque Terre" style="display:block;margin:auto">
          <h3>Brijesh Singh</h3>
          <h5>Chief Adviser</h5>
          <i>Executive Committee Member, IEEE PES/IAS Joint Chapter Uttar Pradesh Section, IIT Kanpur.</i>
          <i> Associate Professor: Department of Electrical and Electronics Engineering, KIET Group of Institutions,</i>
        </div>
        <div>
          <img src="../../assets/team/sandeep.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Sandeep Tiwari</h3>
          <i style="width:fit-content;margin:auto;display: block;">Founder</i>
        </div>
        <div>
          <img src="../../assets/team/rohit.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Rohit Singh</h3>
          <i style="width:fit-content;margin:auto;display: block;">Communication Head</i>
        </div>
        <div>
          <img src="../../assets/team/arpit.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Arpit Bhushan Sharma</h3>
          <i style="width:fit-content;margin:auto;display: block;">Project Manager</i>
        </div>
        <div>
          <img src="../../assets/team/kush.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Kush Varshney</h3>
          <i style="width:fit-content;margin:auto;display: block;">Adviser</i>
        </div>
        <div>
          <img src="../../assets/team/kinjal.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Kinjal Tiwari</h3>
          <i style="width:fit-content;margin:auto;display: block;">Project Manager</i>
        </div>
      </div>
      </div>
    </section>





<!-- <p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/images/aboutus.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>About Us</h3>
  </div>
</div>

<section class="py-5 con">
  <div class="container">
    <h1 class="ct-1">About Us</h1>
    <p>Project Jungle is a service provider for creating natural, wild, maintenance free, native forests. At Project Jungle,
      we work passionately on and off-site to provide the best solutions at the lowest possible cost.
      Started in September 2018, Project Jungle is a social enterprise on a mission to bring back our native forests
      that have been lost. We do it by creating them.</p>
  </div>
</section>

<section class="py-1 con p-3">
  <div class="container">
    <h3 class="ct-1">Meet the Team</h3>
    <p>
      We are a small team of 6 people.
    </p>

      <div class="image row">
        <div>
          <img src="../../assets/team/Brijesh.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Brijesh Singh</h3>
          <h5>Chief Adviser</h5>
          <i>Executive Committee Member, IEEE PES/IAS Joint Chapter Uttar Pradesh Section, IIT Kanpur.</i>
          <i> Associate Professor: Department of Electrical and Electronics Engineering, KIET Group of Institutions,</i>
        </div>
        <div>
          <img src="../../assets/team/sandeep.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Sandeep Tiwari</h3>
          <i>Founder</i>
        </div>
        <div>
          <img src="../../assets/team/rohit.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Rohit Singh</h3>
          <i>Communication Head</i>
        </div>
        <div>
          <img src="../../assets/team/arpit.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Arpit Bhushan Sharma</h3>
          <i>Project Manager</i>
        </div>
        <div>
          <img src="../../assets/team/kush.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Kush Varshney</h3>
          <i>Adviser</i>
        </div>
        <div>
          <img src="../../assets/team/kinjal.jpeg" class="img-rounded" alt="Cinque Terre">
          <h3>Kinjal Tiwari</h3>
          <i>Project Manager</i>
        </div>
      </div>
  </div>
</section> -->
<section>
  <app-footer></app-footer>
</section>
