<div class="header-outs inner_page-banner " id="home">
  <app-header></app-header>
</div>

<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a href="index.html">Home</a>
        <span>/</span>
      </li>
      <li>Gallery</li>
    </ul>
  </div>
</div>


<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title mb-lg-5 mb-md-4 mb-sm-4 mb-3 text-center"> Our Gallery</h3>
    <!-- <div class="row gallery-info">
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal1"><img src="../../assets/images/dummy/g1.jpg" alt="news image" class="img-fluid"></a>
        </div>
        <div class="gallery-grids">
          <a href="#gal2"><img src="../../assets/images/dummy/g2.jpg" alt="news image" class="img-fluid"></a>
        </div>
        <div class="gallery-grids">
          <a href="#gal3"><img src="../../assets/images/dummy/g3.jpg" alt="news image" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal4"><img src="../../assets/images/dummy/g4.jpg" alt="news image" class="img-fluid"></a>
        </div>
        <div class="gallery-grids">
          <a href="#gal5"><img src="../../assets/images/dummy/g5.jpg" alt="news image" class="img-fluid"></a>
        </div>
        <div class="gallery-grids">
          <a href="#gal6"><img src="../../assets/images/dummy/g6.jpg" alt="news image" class="img-fluid"></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal7"><img src="../../assets/images/dummy/4.jpg" alt="news image" class="img-fluid"></a>
        </div>
        <div class="gallery-grids">
          <a href="#gal8"><img src="../../assets/images/dummy/2.jpg" alt="news image" class="img-fluid"></a>
        </div>
        <div class="gallery-grids">
          <a href="#gal9"><img src="../../assets/images/dummy/3.jpg" alt="news image" class="img-fluid"></a>
        </div>
      </div>
    </div> -->
    <!-- popup-->
    <div id="gal1" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/g1.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal2" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/g2.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal3" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/g3.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal4" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/g4.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal5" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/g5.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal6" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/g6.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal7" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/4.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal8" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/2.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal9" class="popup-effect">
      <div class="popup">
        <img src="../../assets/images/dummy/3.jpg" alt="Popup Image" class="img-fluid" />
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
  </div>
</section>




<p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/../../assets/images/dummy/gallery.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>Gallery</h3>
  </div>
</div>



<section class="py-1 con">
  <div class="container">
    <section class="py-1">
      <div class="image test">

    <h3>Lucknow Prototype</h3>
      </div>
    </section>

    <div class="image row">

      <div>
        <img src="../../assets/gallery/1.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>
      <div>
        <img src="../../assets/gallery/2.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>
      <div>
        <img src="../../assets/gallery/3.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>
      <div>
        <img src="../../assets/gallery/4.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>



    </div>
  </div>






  <div class="container">
    <section class="py-1">
      <div class="image test">

        <h3>KIET Group of Institutions Prototype</h3>
      </div>
    </section>

    <div class="image row">

      <div>
        <img src="../../assets/gallery/5.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>
      <div>
        <img src="../../assets/gallery/6.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div><div>
      <img src="../../assets/gallery/7.jpeg" class="img-rounded" alt="Cinque Terre">
      <h3></h3>
      <i></i>
    </div>
      <div>
        <img src="../../assets/gallery/8.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>



    </div>
  </div>












</section>
<section>
  <app-footer></app-footer>
</section>
