
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.row{
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}



img{
  margin: 20px;
  width: 245px;
  height: 180px;
}


i{
  color: green;
}
.test{
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}
