<app-header></app-header>
<p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/images/gallery.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3>Gallery</h3>
  </div>
</div>



<section class="py-1 con">
  <div class="container">
    <section class="py-1">
      <div class="image test">

    <h3>Lucknow Prototype</h3>
      </div>
    </section>

    <div class="image row">

      <div>
        <img src="../../assets/gallery/1.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>
      <div>
        <img src="../../assets/gallery/2.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>
      <div>
        <img src="../../assets/gallery/3.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>
      <div>
        <img src="../../assets/gallery/4.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>



    </div>
  </div>






  <div class="container">
    <section class="py-1">
      <div class="image test">

        <h3>KIET Group of Institutions Prototype</h3>
      </div>
    </section>

    <div class="image row">

      <div>
        <img src="../../assets/gallery/5.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>
      <div>
        <img src="../../assets/gallery/6.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div><div>
      <img src="../../assets/gallery/7.jpeg" class="img-rounded" alt="Cinque Terre">
      <h3></h3>
      <i></i>
    </div>
      <div>
        <img src="../../assets/gallery/8.jpeg" class="img-rounded" alt="Cinque Terre">
        <h3></h3>
        <i></i>
      </div>



    </div>
  </div>












</section>
<section>
  <app-footer></app-footer>
</section>
