<app-header></app-header>
<p style="margin-top: 0px"></p>

<div class="carousel-item active" style="background-image: url('../../assets/images/services.jpeg')">
  <div class="carousel-caption d-none d-md-block">
    <h3 >Services</h3>
  </div>
</div>

<section class="py-5 con">
  <div class="container">
    <h1 class="ct-1 text-center">Services</h1>

    <div class="card">
      <h5 id="one"><a style="padding-left: 10px; ">Lawn or Tiny forestation</a></h5>
      <div id="first" class="background">
        <p>
          In 100 sq. metre area, there can be seasonal fruit throughout the year for a family. So you can get 100%
          organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>

    <div class="card">
      <h5 id="two"><a style="padding-left: 10px; ">Consultation</a></h5>
      <div id="second" class="background">
        <p>
          We provide consultation services for the plantation using Miyawaki method.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>

    <!----<div class="card">
      <h5 id="two"><a style="padding-left: 10px; ">Tiny forestation</a></h5>
      <div id="second" class="background">
        <p>
          In 100 m2
          area , there can be seasonal fruit throughout the year for a family . So you can get 100%
          organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>
---->
    <div class="card">
      <h5 id="three"><a style="padding-left: 10px; ">Large scale forestation</a></h5>
      <div id="third" class="background">
        <p>
          Type of forest extends over a large area. It can be any waste land. This type of forest can be of timber, fruit, bee or bird attracting, medicinal forests.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>

    <div class="card">
      <h5 id="four"><a style="padding-left: 10px; ">Themed forestation</a></h5>
      <div id="fourth" class="background">
        <p>
          In this we develop a park, gallery, etc. based on ancient themes of living in harmony with nature. This
          can be developed in yoga center, parks, resorts, hotels, etc.

        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>


    <div class="card">
      <h5 id="five"><a style="padding-left: 10px; ">Waterfront and slope embracement</a></h5>
      <div id="fifth" class="background">
        <p>
          By envisioning a network of well connected, multi-use public spaces that fit to the community’s
          shared goals, orienting waterfront revitalization around public spaces and also encouraging
          community engagement. We aim to balance environmental benefits with human needs, by starting with
          small to make big changes.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>

    <div class="card">
      <h5 id="six"><a style="padding-left: 10px; ">Fencing</a></h5>
      <div id="sixth" class="background">
        <p>
          Using Miyawaki method, very dense forest can be grown that can act as fencing. This can be done    on large farm land, gardens, boundary of housing societies.
        </p>
        <a routerLink="/contact">Contact us</a>
      </div>
    </div>



  </div>
</section>





<section>
  <app-footer></app-footer>
</section>

