/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';



body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*color: #CCCCCC;*/
}

a{
  text-decoration: none;
}

.navbar .nav-item .nav-link{
  font-weight: 700;
  color: #36DB1C;
}
.navbar .nav-item .nav-link:hover{
color: #ddd;
}

.con{
  background-color: white;
}

.ct-1{
  color: #36DB1C;
}
li>a{
  text-decoration: none;
  color:#CCCCCC;
}
