<app-header></app-header>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('../../assets/prototype/lko-prototype.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>First Prototype</h3>
          <p>Balrampur District in Uttar Pradesh</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('../../assets/prototype/kiet-prototype.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Prototype</h3>
          <p>KIET Group of Institutions,
            a private college in Ghaziabad, Uttar Pradesh</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
<!--https://docs.google.com/document/d/1FaBaZYRaaPHXohxtyX0ikclHLiZRQK5skGZ13Vrs3D4/edit Page Content https://docs.google.com/document/d/e/2PACX-1vTaS7h9xgVpzGGXt4anhghqFI0YmbbjrlHVpb_7z_K3Ulnoa-3y8WJfP7mpLt-L8ZUxs5pi2bnzqiXP/pub -->
<br>
 <div class="container con p-3 shadow border-0">
   <iframe src="https://docs.google.com/document/d/e/2PACX-1vTaS7h9xgVpzGGXt4anhghqFI0YmbbjrlHVpb_7z_K3Ulnoa-3y8WJfP7mpLt-L8ZUxs5pi2bnzqiXP/pub" style="width:100%; height:1100px;" frameborder="0"></iframe> </div>


<section class="py-5 text-center con p-3 border-0">
  <div class="container">
    <h2 class="text-center ct-1">We grow a Jungle which will have</h2><br>
    <div class="row mt-3">
      <div class="col-sm-6 col-lg-4 mb-3">
        <i class="fas fa-chart-line fa-4x ct-1"></i>
        <h3>10x Growth </h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
          <i class="fas fa-leaf fa-4x ct-1"></i>
        <h3>30x Denser</h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <i class="fas fa-spa fa-4x ct-1"></i>
        <h3>100x More Biodiverse</h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <i class="fas fa-seedling fa-4x ct-1"></i>
        <h3>100% Organic</h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
          <i class="fas fa-leaf fa-4x ct-1"></i>
        <h3>10 X Faster</h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
          <i class="fas fa-spa fa-4x ct-1"></i>
        <h3>100% Pure</h3>
      </div>
    </div>
  </div>
</section>

<section >
  <app-footer class="bg-light"></app-footer>
</section>
