<div class="main-top" id="home">
<app-header></app-header>
<div class="main-banner text-center">
  <div class="container">
    <div class="style-banner">
      <h4 class="mb-2">Welcome to Project Jungle</h4>
      <h5>Offering Plantation Solutions Worldwide
      </h5>
    </div>
    <div class="two-demo-button mt-md-4 mt-3">
      <p> Project Jungle is a service provider for creating natural, wild, maintenance free Jungle.</p>
    </div>

  </div>
</div>
</div>
 <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
   <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
     <div class="row">
       <div class="col-lg-6 about-imgs-txt">
         <img src="../../assets/images/dummy/1.jpg" alt="news image" class="img-fluid">
       </div>
       <div class="col-lg-6 text-right about-two-grids">
         <h3 class="title  mb-md-4 mb-sm-3 mb-3">About Our Farm </h3>
         <div class="about-para-txt">
           <p>Project Jungle is a service provider for creating natural, wild, maintenance free, native forests. At Project Jungle,
            we work passionately on and off-site to provide the best solutions at the lowest possible cost.
            Started in September 2018, Project Jungle is a social enterprise on a mission to bring back our native forests
            that have been lost. We do it by creating them.
            <!-- <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
             eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p> -->
         </div>
         <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
           <a href="single.html" class=" scroll">Read More</a>
         </div>
       </div>

     </div>
   </div>
 </section>
 <!-- //about -->
 <section class="blog_w3ls pb-5" id="why">
   <div class="container pb-xl-5 pb-lg-3">
     <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Why Choose Us</h3>
     <div class="row">
       <!-- blog grid -->
       <div class="col-lg-4 col-md-6">
         <div class="card border-0 med-blog">
           <div class="card-header p-0">
             <a href="single.html">
               <img class="card-img-bottom" src="../../assets/images/dummy/g1.jpg" alt="Card image cap">
             </a>
           </div>
           <div class="card-body border border-top-0">
             <div class="mb-3">
               <h5 class="blog-title card-title m-0">Quality Products
               </h5>
               <div class="blog_w3icon">
                 <span>
                   Magna Kictum - loremipsum</span>
               </div>
             </div>
             <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
           </div>
         </div>
       </div>
       <!-- //blog grid -->
       <!-- blog grid -->
       <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
         <div class="card border-0 med-blog">
           <div class="card-header p-0">
             <a href="single.html">
               <img class="card-img-bottom" src="../../assets/images/dummy/g2.jpg" alt="Card image cap">
             </a>
           </div>
           <div class="card-body border border-top-0">
             <div class="mb-3">
               <h5 class="blog-title card-title m-0">Work Smart
               </h5>
               <div class="blog_w3icon">
                 <span>
                   Magna Kictum - loremipsum</span>
               </div>
             </div>
             <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
           </div>
         </div>
       </div>
       <!-- //blog grid -->
       <!-- blog grid -->
       <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
         <div class="card border-0 med-blog">
           <div class="card-header p-0">
             <a href="single.html">
               <img class="card-img-bottom" src="../../assets/images/dummy/g3.jpg" alt="Card image cap">
             </a>
           </div>
           <div class="card-body border border-top-0">
             <div class="mb-3">
               <h5 class="blog-title card-title m-0">Excellent Services
               </h5>
               <div class="blog_w3icon">
                 <span>
                   Magna Kictum - loremipsum</span>
               </div>
             </div>
             <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
           </div>
         </div>
       </div>
       <!-- //blog grid -->
     </div>
   </div>
 </section>
 <!-- stats -->
 
 <!--//stats -->
 <!-- service -->
 <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
   <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
     <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Services</h3>
     <div class="row">
       <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
         <div class="ser-Agriculture-grid">
           <div class="about-icon mb-md-4 mb-3">
             <span class="fa fa-apple" aria-hidden="true"></span>
           </div>
           <div class="ser-sevice-grid">
             <h4 class="pb-3">Lawn or Tiny forestation
            </h4>
             <p>In 100 sq. metre area, there can be seasonal fruit throughout the year for a family. So you can get 100% organic, fresh, seasonal fruits. It can also be bird attracting or ornamental forest.</p>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
         <div class="ser-Agriculture-grid">
           <div class="about-icon mb-md-4 mb-3">
             <span class="fa fa-skyatlas" aria-hidden="true"></span>
           </div>
           <div class="ser-sevice-grid">
             <h4 class="pb-3">Consultation
            </h4>
             <p>We provide consultation services for the plantation using Miyawaki method.</p>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6 service-grid-wthree text-center">
         <div class="ser-Agriculture-grid">
           <div class="about-icon mb-md-4 mb-3">
             <span class="fa fa-yelp" aria-hidden="true"></span>
           </div>
           <div class="ser-sevice-grid">
             <h4 class="pb-3">Large scale forestation
            </h4>
             <p>Type of forest extends over a large area. It can be any waste land. This type of forest can be of timber, fruit, bee or bird attracting, medicinal forests.</p>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
         <div class="ser-Agriculture-grid">
           <div class="about-icon mb-md-4 mb-3">
             <span class="fa fa-viadeo" aria-hidden="true"></span>
           </div>
           <div class="ser-sevice-grid">
             <h4 class="pb-3">Themed forestation
            </h4>
             <p>In this we develop a park, gallery, etc. based on ancient themes of living in harmony with nature. This can be developed in yoga center, parks, resorts, hotels, etc.</p>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
         <div class="ser-Agriculture-grid">
           <div class="about-icon mb-md-4 mb-3">
             <span class="fa fa-pagelines" aria-hidden="true"></span>
           </div>
           <div class="ser-sevice-grid">
             <h4 class="pb-3">Waterfront and slope embracement
            </h4>
             <p>By envisioning a network of well connected, multi-use public spaces that fit to the community’s shared goals, orienting waterfront revitalization around public spaces and also encouraging community engagement. We aim to balance environmental benefits with human needs, by starting with small to make big changes.

            </p>
           </div>
         </div>
       </div>
       <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-4 mt-3 service-grid-wthree text-center">
         <div class="ser-Agriculture-grid">
           <div class="about-icon mb-md-4 mb-3">
             <span class="fa fa-leaf" aria-hidden="true"></span>
           </div>
           <div class="ser-sevice-grid">
             <h4 class="pb-3">Fencing</h4>
             <p>Using Miyawaki method, very dense forest can be grown that can act as fencing. This can be done on large farm land, gardens, boundary of housing societies.

            </p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- //service -->
 <!-- client -->
 <section class="client py-lg-4 py-md-3 py-sm-3 py-3" id="client">
   <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
     <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Clients</h3>
     <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6 cilent-item text-center">
         <div class="mb-lg-4 mb-3 clients-ile-img">
           <img src="../../assets/images/dummy/cc2.jpg" alt=" " class="img-fluid">
         </div>
         <div class="clients-color-ile text-center">
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
             Lorem ipsum dolor sit amet, consectetuer adipiscing elit
             Lorem ipsum dolor sit amet, consectetuer adipiscing elit
             Lorem ipsum dolor sit amet, consectetuer adipiscing elit
           </p>
           <div class="mt-3 clients-txt-ile">
             <h4>Jack Will</h4>
           </div>
         </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 cilent-item text-center">
         <div class="mb-lg-4 mb-3 clients-ile-img">
           <img src="../../assets/images/dummy/cc1.jpg" alt=" " class="img-fluid">
         </div>
         <div class="clients-color-ile text-center">
           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
             Lorem ipsum dolor sit amet, consectetuer adipiscing elit
             Lorem ipsum dolor sit amet, consectetuer adipiscing elit
             Lorem ipsum dolor sit amet, consectetuer adipiscing elit
           </p>
           <div class="mt-3 clients-txt-ile">
             <h4>Rose son</h4>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!--//client -->
 <!-- collection -->
 <section class="collection py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Features</h3>
    <!--row -->
    <div class="row">
      <div class="col-lg-7 col-md-6 collection-w3layouts">
        <h4> Ten times faster growth</h4>
        <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
          eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
        <div class="view-buttn mt-lg-4 mt-3">
          <a href="../../assets/images/dummy.html" class="">Read More</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <img src="../../assets/images/dummy/g2.jpg" alt="news image" class="img-fluid">
      </div>
    </div>
    <!--// row -->
    <!-- row -->
    <div class="row my-lg-5 my-md-4 my-3">
      <div class="col-lg-5 col-md-6">
        <img src="../../assets/images/dummy/3.jpg" alt="news image" class="img-fluid">
      </div>
      <div class="col-lg-7 col-md-6 collection-w3layouts">
        <h4>Assurance of 100% purity</h4>
        <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
          eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
        <div class="view-buttn mt-lg-4 mt-3">
          <a href="single.html" class="">Read More</a>
        </div>
      </div>
    </div>
    <!--// row -->
    <!-- row -->
    <div class="row">
      <div class="col-lg-7 col-md-6 collection-w3layouts">
        <h4>Pledge to grow 100 times organic plants</h4>
        <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
          eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
        <div class="view-buttn mt-lg-4 mt-3">
          <a href="single.html" class=" scroll">Read More</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <img src="../../assets/images/dummy/g4.jpg" alt="news image" class="img-fluid">

      </div>
    </div>
    <!--// row -->

   <!-- row -->
   <div class="row my-lg-5 my-md-4 my-3">
     <div class="col-lg-5 col-md-6">
       <img src="../../assets/images/dummy/b2.jpg" alt="news image" class="img-fluid">
     </div>
     <div class="col-lg-7 col-md-6 collection-w3layouts">
       <h4>Plantation is even more biodiverse</h4>
       <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
         eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
       <div class="view-buttn mt-lg-4 mt-3">
         <a href="single.html" class="">Read More</a>
       </div>
     </div>
   </div>
   <!--// row -->
   <!-- row -->
   <div class="row">
     <div class="col-lg-7 col-md-6 collection-w3layouts">
       <h4>Afforestation is 100 times faster</h4>
       <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
         eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
       <div class="view-buttn mt-lg-4 mt-3">
         <a href="single.html" class=" scroll">Read More</a>
       </div>
     </div>
     <div class="col-lg-5 col-md-6">
       <img src="../../assets/images/dummy/g6.jpg" alt="news image" class="img-fluid">

     </div>
   </div>
   <!--// row -->
   <!-- row -->
   <div class="row my-lg-5 my-md-4 my-3">
     <div class="col-lg-5 col-md-6">
       <img src="../../assets/images/dummy/4.jpg" alt="news image" class="img-fluid">
     </div>
     <div class="col-lg-7 col-md-6 collection-w3layouts">
       <h4>Thirty times more denser</h4>
       <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
         eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
       <div class="view-buttn mt-lg-4 mt-3">
         <a href="single.html" class="">Read More</a>
       </div>
     </div>
   </div>
   <!--// row -->
  </div>
</section>

<section >
  <app-footer class="bg-light"></app-footer>
</section>



<!-- <header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('../../assets/prototype/lko-prototype.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>First Prototype</h3>
          <p>Balrampur District in Uttar Pradesh</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('../../assets/prototype/kiet-prototype.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Prototype</h3>
          <p>KIET Group of Institutions,
            a private college in Ghaziabad, Uttar Pradesh</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
<br>
<div class="container con p-3 shadow border-0">
  <iframe
    src="https://docs.google.com/document/d/e/2PACX-1vTaS7h9xgVpzGGXt4anhghqFI0YmbbjrlHVpb_7z_K3Ulnoa-3y8WJfP7mpLt-L8ZUxs5pi2bnzqiXP/pub"
    style="width:100%; height:1100px;" frameborder="0"></iframe> </div>


<section class="py-5 text-center con p-3 border-0">
  <div class="container">
    <h2 class="text-center ct-1">We grow a Jungle which will have</h2><br>
    <div class="row mt-3">
      <div class="col-sm-6 col-lg-4 mb-3">
        <i class="fas fa-chart-line fa-4x ct-1"></i>
        <h3>10x Growth </h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <i class="fas fa-leaf fa-4x ct-1"></i>
        <h3>30x Denser</h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <i class="fas fa-spa fa-4x ct-1"></i>
        <h3>100x More Biodiverse</h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <i class="fas fa-seedling fa-4x ct-1"></i>
        <h3>100% Organic</h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <i class="fas fa-leaf fa-4x ct-1"></i>
        <h3>10 X Faster</h3>
      </div>
      <div class="col-sm-6 col-lg-4 mb-5">
        <i class="fas fa-spa fa-4x ct-1"></i>
        <h3>100% Pure</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <app-footer class="bg-light"></app-footer>
</section> -->
